<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Combined Shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,98}</string>
                <key>spriteSourceSize</key>
                <string>{275,98}</string>
                <key>textureRect</key>
                <string>{{93,0},{275,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>direction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{368,0},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,115}</string>
                <key>spriteSourceSize</key>
                <string>{67,115}</string>
                <key>textureRect</key>
                <string>{{437,0},{67,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{504,0},{45,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{93,105}</string>
                <key>textureRect</key>
                <string>{{549,0},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{642,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cf035fa5b3ca944cf20d70632105e4:4106ac195859e00e09bb11813639926a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
