<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,215}</string>
                <key>spriteSourceSize</key>
                <string>{340,215}</string>
                <key>textureRect</key>
                <string>{{142,104},{340,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re_contuin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{0,52},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re_contuin_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{284,52},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{142,52},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re_start_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{0,104},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rottenWood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{277,0},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{135,0},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui2.png</string>
            <key>size</key>
            <string>{482,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d503af7cacd756064006c56157c4322:dbd5d2cd832d2e9ca933094a72da88f6:e26b946b57789f6bc165d976dfd7848d$</string>
            <key>textureFileName</key>
            <string>ui2.png</string>
        </dict>
    </dict>
</plist>
